# Eclipse IDE #
.project
.externalToolBuilders/
*.launch
.classpath
.factorypath
.target
.springBeans
.recommenders/

*.class
*.swp

*.jar
*.war
*.ear

# Logs de errores de VM #
hs_err_pid*

.metadata
bin/
tmp/
*.tmp
*.bak
*~.nib
local.properties
.settings/
.loadpath
.recommenders
/commons-lang3/
